
  <div class="heading">
  <h2><i>Manager Dashboard</i></h2>
  </div>

  <div class="row justify-content-center ">
    <div class="col-md-2">
        <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
            <img class="card-img-top" src="../../assets/complaint.jpg" height="180" width="100" alt="Card image cap">
            <div class="card-body bg">
                <h5 class="card-title">Complaints</h5>
                <p class="card-text">View tickets from the active ticket list and assign them to the engineers </p>
                <a href="viewtickets" class="btn btn-success">VIEW TICKETS</a>
              </div>
              <div class="card-footer">
                <small class="text-muted"></small>
              </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
            <img class="card-img-top" src="../../assets/location.jpg" height="180" width="100" alt="Card image cap">
            <div class="card-body bg">
                <h5 class="card-title">Locations</h5>
                <p class="card-text">View the PIN Code and Service Area under your zone.</p>
                <a href="#" class="btn btn-dark">SERVICE LOCATIONS</a>
              </div>
              <div class="card-footer">
                <small class="text-muted"></small>
              </div>
            </div>
    </div>

    <div class="col-md-2">
      <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
          <img class="card-img-top" src="../../assets/ticket.jpg" height="180" width="100" alt="Card image cap">
          <div class="card-body bg ">
              <h5 class="card-title">Active Ticket Status</h5>
              <p class="card-text">View and track the status of the tickets assigned to Engineers</p>
              <a href="#" class="btn btn-dark">OVERALL STATUS</a>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
  </div>

  <div class="col-md-2">
    <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
        <img class="card-img-top" src="../../assets/search.jpg" height="180" width="100" alt="Card image cap">
        <div class="card-body bg ">
            <h5 class="card-title">Search Ticket Status</h5>
            <p class="card-text">Get the Current Status of Ticket by searching with Ticket ID</p>
            <a routerLink="search" class="btn btn-dark">SEARCH</a>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
</div>

<div class="col-md-2">
  <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
      <img class="card-img-top" src="../../assets/feedback.jpg" height="180" width="100" alt="Card image cap">
      <div class="card-body bg ">
          <h5 class="card-title">Feedback</h5>
          <p class="card-text">Feedback keeps everyone on track. View Customer Feedback</p>
          <a href="#" class="btn btn-dark">VIEW FEEDBACK</a>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>

      </div>
</div>

    </div>
    <router-outlet></router-outlet>
